Importing needed libraries and preparing CSV data for analysis

In [84]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [85]:
plastic_df = pd.read_csv ("processed_microplastics.csv")
plastic_df.head()

,year,country,cheese,yoghurt,total_milk,fruits,refined_grains,whole_grains,nuts_and_seeds,total_processed_meats,...,fish,shellfish,eggs,total_salt,added_sugars,non-starchy_vegetables,potatoes,other_starchy_vegetables,beans_and_legumes,total_ug_per_kg
0,1990,Angola,0.191781,54.899739,96.602740,76.520548,481.297149,44.309838,2.849315,22.770109,...,53.013699,0.164384,1.041096,8.005259,32.547945,80.164384,8.109589,39.342466,19.835616,1043.279108
1,1990,Benin,0.054795,9.365946,18.410959,90.876712,534.256965,48.836323,19.561644,17.018264,...,18.794521,3.972603,2.849315,5.854497,8.246575,122.986301,0.000000,304.904110,21.178082,1241.656197
2,1990,Burkina Faso,0.273973,35.390618,56.027397,19.178082,213.170183,129.416119,28.465753,9.541329,...,4.684932,0.000000,6.767123,6.928378,9.534247,64.767123,2.219178,13.780822,32.520548,666.603927
3,1990,Central African Republic,0.000000,19.206478,48.000000,113.397260,285.035375,302.567776,23.506849,26.412094,...,13.917808,0.000000,1.123288,6.585071,19.698630,101.753425,0.575342,209.452055,12.821918,1237.339905
4,1990,Cote D'Ivoire,0.301370,2.220447,38.109589,37.013699,436.907598,25.220347,16.904110,2.459103,...,51.424658,0.493151,2.438356,9.660915,28.438356,151.150685,1.945205,676.575343,2.356164,1540.502458

Exploring Data

In [86]:
plastic_df_shape = plastic_df . shape
print (f"Shape : {plastic_df_shape}")

Shape : (723, 21)

In [87]:
plastic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 723 entries, 0 to 722
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   year                      723 non-null    int64
 1   country                   723 non-null    object
 2   cheese                    723 non-null    float64
 3   yoghurt                   723 non-null    float64
 4   total_milk                723 non-null    float64
 5   fruits                    723 non-null    float64
 6   refined_grains            723 non-null    float64
 7   whole_grains              723 non-null    float64
 8   nuts_and_seeds            723 non-null    float64
 9   total_processed_meats     723 non-null    float64
 10  unprocessed_red_meats     723 non-null    float64
 11  fish                      723 non-null    float64
 12  shellfish                 723 non-null    float64
 13  eggs                      723 non-null    float64
 14  total_salt                723 non-null    float64
 15  added_sugars              723 non-null    float64
 16  non-starchy_vegetables    723 non-null    float64
 17  potatoes                  723 non-null    float64
 18  other_starchy_vegetables  723 non-null    float64
 19  beans_and_legumes         723 non-null    float64
 20  total_ug_per_kg           723 non-null    float64
dtypes: float64(19), int64(1), object(1)
memory usage: 118.7+ KB

In [88]:
unique_countries = plastic_df['country'].unique()

print(unique_countries)

['Angola' 'Benin' 'Burkina Faso' 'Central African Republic'
 "Cote D'Ivoire" 'Cameroon' 'Congo' 'Djibouti' 'Algeria' 'Egypt'
 'Ethiopia' 'Gabon' 'Ghana' 'Guinea' 'The Gambia' 'Guinea-Bissau' 'Kenya'
 'Lesotho' 'Morocco' 'Madagascar' 'Mali' 'Mozambique' 'Mauritania'
 'Mauritius' 'Malawi' 'Namibia' 'Niger' 'Nigeria' 'Rwanda' 'Senegal'
 'Chad' 'Togo' 'Tunisia' 'Tanzania' 'Uganda' 'South Africa' 'Zambia'
 'Zimbabwe' 'Albania' 'Argentina' 'Antigua And Barbuda' 'Australia'
 'Austria' 'Bangladesh' 'Bulgaria' 'Bolivia' 'Brazil' 'Barbados' 'Canada'
 'Switzerland' 'China' 'Colombia' 'Cuba' 'Germany' 'Dominica' 'Denmark'
 'Dominican Republic' 'Spain' 'France' 'United Kingdom' 'Greece' 'Grenada'
 'Hungary' 'Indonesia' 'India' 'Ireland' 'Iran' 'Iraq' 'Iceland' 'Jordan'
 'Japan' 'Cambodia' 'South Korea' 'Kuwait' 'Laos' 'Saint Lucia'
 'Sri Lanka' 'Mexico' 'Myanmar' 'Mongolia' 'Malaysia' 'Netherlands'
 'Norway' 'Pakistan' 'Peru' 'Philippines' 'Portugal' 'Paraguay' 'Romania'
 'Saudi Arabia' 'Slovakia' 'Sweden' 'Thailand' 'Trinidad And Tobago'
 'Turkey' 'Uruguay' 'United States' 'Venezuela' 'Vietnam' 'Belgium'
 'Bosnia And Herzegovina' 'Croatia' 'Luxembourg' 'Montenegro' 'Russia'
 'Serbia' 'Slovenia' 'Syria' 'Ukraine']

In [89]:
plastic_df.sort_values(by='country', inplace=True)
print(plastic_df)

     year   country    cheese     yoghurt  total_milk      fruits  \
434  2010   Albania  3.369863   98.959469  783.123288  383.835616
543  2015   Albania  5.589041  106.789487  826.602740  455.945205
137  1995   Albania  4.027397   89.142687  744.794520  110.465753
652  2018   Albania  4.630137  109.799479  868.356164  480.191781
38   1990   Albania  2.767123   89.142687  413.780822   87.561644
..    ...       ...       ...         ...         ...         ...
334  2005  Zimbabwe  0.657534   30.280785   76.958904   28.821918
433  2010  Zimbabwe  0.821918   30.280785   79.890411   40.082192
651  2018  Zimbabwe  0.657534   30.280785   69.561644   48.328767
542  2015  Zimbabwe  0.657534   30.280785   75.287671   60.164384
37   1990  Zimbabwe  0.739726   30.280785   97.972603   34.657534

     refined_grains  whole_grains  nuts_and_seeds  total_processed_meats  ...  \
434      357.865394     32.519126       10.931507              73.300074  ...
543      359.657023     32.603799       12.136986              66.834487  ...
137      491.580412     40.059725        3.589041              43.488098  ...
652      343.175722     30.976196       12.493151              63.896862  ...
38       504.081589     46.880603        3.178082              29.629253  ...
..              ...           ...             ...                    ...  ...
334      408.529330     10.511355       11.342466              26.237413  ...
433      384.476650      9.893487        8.986301              80.272234  ...
651      345.271276      8.886258        9.013699              66.097152  ...
542      343.747293      8.817913        3.452055              71.489579  ...
37       425.112111     10.959396       19.369863              20.083413  ...

          fish  shellfish       eggs  total_salt  added_sugars  \
434  13.780822   2.958904  21.643836    8.030809    100.356164
543  17.726027   5.150685  40.986301    8.049059     94.273973
137   1.123288   2.684932  13.863014    8.005259     54.383562
652  17.561644   6.109589  41.753425    8.027159    100.328767
38    5.452055   0.547945  12.082192    8.005259     49.890411
..         ...        ...        ...         ...           ...
334   2.821918   0.054795   3.890411    5.847202     67.534247
433   6.301370   0.164384   5.506849    5.887352     85.753425
651   8.849315   0.000000   3.863014    5.839902     89.123288
542  10.438356   0.027397   2.958904    5.847202     93.506849
37    6.767123   0.027397   3.561644    5.850852     57.479452

     non-starchy_vegetables    potatoes  other_starchy_vegetables  \
434              671.643836  106.493151                 11.835616
543              740.630137  128.602740                  0.493151
137              399.068493   61.178082                  0.000000
652              842.438356  128.821918                  0.000000
38               220.328767   46.410959                  0.000000
..                      ...         ...                       ...
334               38.191781    7.479452                  0.410959
433               46.438356    3.945205                  4.821918
651               42.109589    4.000000                  5.808219
542               43.945205    3.972603                  4.986301
37                36.219178    6.931507                  0.301370

     beans_and_legumes  total_ug_per_kg
434          15.150685      2765.374798
543          16.958904      2982.469231
137          11.753425      2120.486713
652          14.630137      3133.841569
38           11.780822      1559.644384
..                 ...              ...
334          14.602740       766.456343
433          11.232877       903.524575
651           7.616438       826.634386
542           8.547945       856.090453
37           11.890411       792.915473

[723 rows x 21 columns]

In [90]:
unique_countries = plastic_df['country'].unique()

print(unique_countries)

['Albania' 'Algeria' 'Angola' 'Antigua And Barbuda' 'Argentina'
 'Australia' 'Austria' 'Bangladesh' 'Barbados' 'Belgium' 'Benin' 'Bolivia'
 'Bosnia And Herzegovina' 'Brazil' 'Bulgaria' 'Burkina Faso' 'Cambodia'
 'Cameroon' 'Canada' 'Central African Republic' 'Chad' 'China' 'Colombia'
 'Congo' "Cote D'Ivoire" 'Croatia' 'Cuba' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Egypt' 'Ethiopia' 'France' 'Gabon' 'Germany'
 'Ghana' 'Greece' 'Grenada' 'Guinea' 'Guinea-Bissau' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Japan' 'Jordan' 'Kenya'
 'Kuwait' 'Laos' 'Lesotho' 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia'
 'Mali' 'Mauritania' 'Mauritius' 'Mexico' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Netherlands' 'Niger'
 'Nigeria' 'Norway' 'Pakistan' 'Paraguay' 'Peru' 'Philippines' 'Portugal'
 'Romania' 'Russia' 'Rwanda' 'Saint Lucia' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Slovakia' 'Slovenia' 'South Africa' 'South Korea' 'Spain'
 'Sri Lanka' 'Sweden' 'Switzerland' 'Syria' 'Tanzania' 'Thailand'
 'The Gambia' 'Togo' 'Trinidad And Tobago' 'Tunisia' 'Turkey' 'Uganda'
 'Ukraine' 'United Kingdom' 'United States' 'Uruguay' 'Venezuela'
 'Vietnam' 'Zambia' 'Zimbabwe']

In [91]:
unique_countries_count = plastic_df['country'].nunique()

print(unique_countries_count)

109

In [92]:
unique_years = plastic_df['year'].unique()

print(unique_years)

[2010 2015 1995 2018 1990 2000 2005]

In [93]:
gdp_df = pd.read_csv ("gdp.csv")
gdp_df.head()

,Country Name,Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.534637e+09,2.727850e+09,2.790849e+09,2.962905e+09,2.983637e+09,3.092430e+09,3.202189e+09,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,1.931311e+10,1.972349e+10,2.149392e+10,2.573321e+10,2.352744e+10,2.681057e+10,2.915216e+10,3.017317e+10,...,9.505214e+11,9.642424e+11,9.848071e+11,9.199300e+11,8.733549e+11,9.853557e+11,1.012853e+12,1.009910e+12,9.207923e+11,NaN
2,Afghanistan,AFG,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,...,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN
3,Africa Western and Central,AFW,1.040428e+10,1.112805e+10,1.194335e+10,1.267652e+10,1.383858e+10,1.486247e+10,1.583285e+10,1.442643e+10,...,7.275714e+11,8.207876e+11,8.649666e+11,7.607297e+11,6.905430e+11,6.837416e+11,7.416916e+11,7.945725e+11,7.845876e+11,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.013532e+11,8.941719e+10,5.837598e+10,NaN

In [94]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  266 non-null    object
 1   Code          266 non-null    object
 2   1960          128 non-null    float64
 3   1961          134 non-null    float64
 4   1962          137 non-null    float64
 5   1963          137 non-null    float64
 6   1964          137 non-null    float64
 7   1965          148 non-null    float64
 8   1966          151 non-null    float64
 9   1967          154 non-null    float64
 10  1968          159 non-null    float64
 11  1969          159 non-null    float64
 12  1970          168 non-null    float64
 13  1971          171 non-null    float64
 14  1972          171 non-null    float64
 15  1973          171 non-null    float64
 16  1974          172 non-null    float64
 17  1975          174 non-null    float64
 18  1976          175 non-null    float64
 19  1977          178 non-null    float64
 20  1978          177 non-null    float64
 21  1979          178 non-null    float64
 22  1980          190 non-null    float64
 23  1981          194 non-null    float64
 24  1982          195 non-null    float64
 25  1983          196 non-null    float64
 26  1984          197 non-null    float64
 27  1985          199 non-null    float64
 28  1986          201 non-null    float64
 29  1987          205 non-null    float64
 30  1988          210 non-null    float64
 31  1989          210 non-null    float64
 32  1990          225 non-null    float64
 33  1991          220 non-null    float64
 34  1992          224 non-null    float64
 35  1993          227 non-null    float64
 36  1994          231 non-null    float64
 37  1995          240 non-null    float64
 38  1996          240 non-null    float64
 39  1997          240 non-null    float64
 40  1998          242 non-null    float64
 41  1999          243 non-null    float64
 42  2000          247 non-null    float64
 43  2001          248 non-null    float64
 44  2002          253 non-null    float64
 45  2003          253 non-null    float64
 46  2004          253 non-null    float64
 47  2005          253 non-null    float64
 48  2006          254 non-null    float64
 49  2007          254 non-null    float64
 50  2008          255 non-null    float64
 51  2009          255 non-null    float64
 52  2010          256 non-null    float64
 53  2011          258 non-null    float64
 54  2012          257 non-null    float64
 55  2013          258 non-null    float64
 56  2014          258 non-null    float64
 57  2015          257 non-null    float64
 58  2016          256 non-null    float64
 59  2017          256 non-null    float64
 60  2018          256 non-null    float64
 61  2019          253 non-null    float64
 62  2020          242 non-null    float64
 63  Unnamed: 65   0 non-null      float64
dtypes: float64(62), object(2)
memory usage: 133.1+ KB

Microplastic Data is restricted to years [1990 1995 2000 2005 2010 2015 2018] while GDP Data spams 60 years from 1960 to 2020. Filtering only  columms with years relevant to this Analysis.

In [95]:
filtered_gdp_df = pd.read_csv ("gdp.csv", usecols= ["Country Name","1990","1995","2000","2005","2010","2015","2018"])
filtered_gdp_df.head()

,Country Name,1990,1995,2000,2005,2010,2015,2018
0,Aruba,7.648871e+08,1.320475e+09,1.873453e+09,2.330726e+09,2.390503e+09,2.962905e+09,3.202189e+09
1,Africa Eastern and Southern,2.123361e+11,2.696893e+11,2.839525e+11,5.122599e+11,8.474095e+11,9.199300e+11,1.012853e+12
2,Afghanistan,NaN,NaN,NaN,6.209138e+09,1.585668e+10,1.913421e+10,1.805323e+10
3,Africa Western and Central,1.218022e+11,1.082213e+11,1.404080e+11,3.105543e+11,5.915830e+11,7.607297e+11,7.416916e+11
4,Angola,1.123628e+10,5.561222e+09,9.129635e+09,3.697092e+10,8.379950e+10,1.161936e+11,1.013532e+11

In [96]:
unique_countries_count = filtered_gdp_df['Country Name'].nunique()

print(unique_countries_count)

266

In [97]:
filtered_gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  266 non-null    object
 1   1990          225 non-null    float64
 2   1995          240 non-null    float64
 3   2000          247 non-null    float64
 4   2005          253 non-null    float64
 5   2010          256 non-null    float64
 6   2015          257 non-null    float64
 7   2018          256 non-null    float64
dtypes: float64(7), object(1)
memory usage: 16.8+ KB

In [106]:
pivoted_filtered_gdp_df = filtered_gdp_df.pivot(index='Country Name', columns=('1990', '2005'), values= '2005')
print(pivoted_filtered_gdp_df)

1990                        7.648871e+08  2.123361e+11           NaN  \
2005                        2.330726e+09  5.122599e+11  6.209138e+09
Country Name
Afghanistan                          NaN           NaN  6.209138e+09
Africa Eastern and Southern          NaN  5.122599e+11           NaN
Africa Western and Central           NaN           NaN           NaN
Albania                              NaN           NaN           NaN
Algeria                              NaN           NaN           NaN
...                                  ...           ...           ...
West Bank and Gaza                   NaN           NaN           NaN
World                                NaN           NaN           NaN
Yemen, Rep.                          NaN           NaN           NaN
Zambia                               NaN           NaN           NaN
Zimbabwe                             NaN           NaN           NaN

1990                         1.218022e+11 1.123628e+10  2.028554e+09  \
2005                         3.105543e+11 3.697092e+10  8.052074e+09
Country Name
Afghanistan                           NaN          NaN           NaN
Africa Eastern and Southern           NaN          NaN           NaN
Africa Western and Central   3.105543e+11          NaN           NaN
Albania                               NaN          NaN  8.052074e+09
Algeria                               NaN          NaN           NaN
...                                   ...          ...           ...
West Bank and Gaza                    NaN          NaN           NaN
World                                 NaN          NaN           NaN
Yemen, Rep.                           NaN          NaN           NaN
Zambia                                NaN          NaN           NaN
Zimbabwe                              NaN          NaN           NaN

1990                        1.029048e+09 6.226947e+11 5.070144e+10  \
2005                        3.159905e+09 1.297924e+12 1.806175e+11
Country Name
Afghanistan                          NaN          NaN          NaN
Africa Eastern and Southern          NaN          NaN          NaN
Africa Western and Central           NaN          NaN          NaN
Albania                              NaN          NaN          NaN
Algeria                              NaN          NaN          NaN
...                                  ...          ...          ...
West Bank and Gaza                   NaN          NaN          NaN
World                                NaN          NaN          NaN
Yemen, Rep.                          NaN          NaN          NaN
Zambia                               NaN          NaN          NaN
Zimbabwe                             NaN          NaN          NaN

1990                        1.413524e+11  ... 4.859832e+10          NaN  \
2005                        1.987371e+11  ... 1.455100e+11 4.428000e+09
Country Name                              ...
Afghanistan                          NaN  ...          NaN          NaN
Africa Eastern and Southern          NaN  ...          NaN          NaN
Africa Western and Central           NaN  ...          NaN          NaN
Albania                              NaN  ...          NaN          NaN
Algeria                              NaN  ...          NaN          NaN
...                                  ...  ...          ...          ...
West Bank and Gaza                   NaN  ...          NaN          NaN
World                                NaN  ...          NaN          NaN
Yemen, Rep.                          NaN  ...          NaN          NaN
Zambia                               NaN  ...          NaN          NaN
Zimbabwe                             NaN  ...          NaN          NaN

1990                        6.471741e+09 1.688792e+08  2.269924e+13  \
2005                        5.763326e+10 3.949626e+08  4.777398e+13
Country Name
Afghanistan                          NaN          NaN           NaN
Africa Eastern and Southern          NaN          NaN           NaN
Africa Western and Central           NaN          NaN           NaN
Albania                              NaN          NaN           NaN
Algeria                              NaN          NaN           NaN
...                                  ...          ...           ...
West Bank and Gaza                   NaN          NaN           NaN
World                                NaN          NaN  4.777398e+13
Yemen, Rep.                          NaN          NaN           NaN
Zambia                               NaN          NaN           NaN
Zimbabwe                             NaN          NaN           NaN

1990                        1.257663e+08  5.647119e+09 1.155523e+11  \
2005                        4.655680e+08  1.674634e+10 2.888685e+11
Country Name
Afghanistan                          NaN           NaN          NaN
Africa Eastern and Southern          NaN           NaN          NaN
Africa Western and Central           NaN           NaN          NaN
Albania                              NaN           NaN          NaN
Algeria                              NaN           NaN          NaN
...                                  ...           ...          ...
West Bank and Gaza                   NaN           NaN          NaN
World                                NaN           NaN          NaN
Yemen, Rep.                          NaN  1.674634e+10          NaN
Zambia                               NaN           NaN          NaN
Zimbabwe                             NaN           NaN          NaN

1990                         3.285217e+09  8.783817e+09
2005                         8.331870e+09  5.755215e+09
Country Name
Afghanistan                           NaN           NaN
Africa Eastern and Southern           NaN           NaN
Africa Western and Central            NaN           NaN
Albania                               NaN           NaN
Algeria                               NaN           NaN
...                                   ...           ...
West Bank and Gaza                    NaN           NaN
World                                 NaN           NaN
Yemen, Rep.                           NaN           NaN
Zambia                       8.331870e+09           NaN
Zimbabwe                              NaN  5.755215e+09

[266 rows x 255 columns]

In [99]:
unique_countries = filtered_gdp_df['Country Name'].unique()

print(unique_countries)

['Aruba' 'Africa Eastern and Southern' 'Afghanistan'
 'Africa Western and Central' 'Angola' 'Albania' 'Andorra' 'Arab World'
 'United Arab Emirates' 'Argentina' 'Armenia' 'American Samoa'
 'Antigua and Barbuda' 'Australia' 'Austria' 'Azerbaijan' 'Burundi'
 'Belgium' 'Benin' 'Burkina Faso' 'Bangladesh' 'Bulgaria' 'Bahrain'
 'Bahamas, The' 'Bosnia and Herzegovina' 'Belarus' 'Belize' 'Bermuda'
 'Bolivia' 'Brazil' 'Barbados' 'Brunei Darussalam' 'Bhutan' 'Botswana'
 'Central African Republic' 'Canada' 'Central Europe and the Baltics'
 'Switzerland' 'Channel Islands' 'Chile' 'China' "Cote d'Ivoire"
 'Cameroon' 'Congo, Dem. Rep.' 'Congo, Rep.' 'Colombia' 'Comoros'
 'Cabo Verde' 'Costa Rica' 'Caribbean small states' 'Cuba' 'Curacao'
 'Cayman Islands' 'Cyprus' 'Czech Republic' 'Germany' 'Djibouti'
 'Dominica' 'Denmark' 'Dominican Republic' 'Algeria'
 'East Asia & Pacific (excluding high income)'
 'Early-demographic dividend' 'East Asia & Pacific'
 'Europe & Central Asia (excluding high income)' 'Europe & Central Asia'
 'Ecuador' 'Egypt, Arab Rep.' 'Euro area' 'Eritrea' 'Spain' 'Estonia'
 'Ethiopia' 'European Union' 'Fragile and conflict affected situations'
 'Finland' 'Fiji' 'France' 'Faroe Islands' 'Micronesia, Fed. Sts.' 'Gabon'
 'United Kingdom' 'Georgia' 'Ghana' 'Gibraltar' 'Guinea' 'Gambia, The'
 'Guinea-Bissau' 'Equatorial Guinea' 'Greece' 'Grenada' 'Greenland'
 'Guatemala' 'Guam' 'Guyana' 'High income' 'Hong Kong SAR, China'
 'Honduras' 'Heavily indebted poor countries (HIPC)' 'Croatia' 'Haiti'
 'Hungary' 'IBRD only' 'IDA & IBRD total' 'IDA total' 'IDA blend'
 'Indonesia' 'IDA only' 'Isle of Man' 'India' 'Not classified' 'Ireland'
 'Iran, Islamic Rep.' 'Iraq' 'Iceland' 'Israel' 'Italy' 'Jamaica' 'Jordan'
 'Japan' 'Kazakhstan' 'Kenya' 'Kyrgyz Republic' 'Cambodia' 'Kiribati'
 'St. Kitts and Nevis' 'Korea, Rep.' 'Kuwait'
 'Latin America & Caribbean (excluding high income)' 'Lao PDR' 'Lebanon'
 'Liberia' 'Libya' 'St. Lucia' 'Latin America & Caribbean'
 'Least developed countries: UN classification' 'Low income'
 'Liechtenstein' 'Sri Lanka' 'Lower middle income' 'Low & middle income'
 'Lesotho' 'Late-demographic dividend' 'Lithuania' 'Luxembourg' 'Latvia'
 'Macao SAR, China' 'St. Martin (French part)' 'Morocco' 'Monaco'
 'Moldova' 'Madagascar' 'Maldives' 'Middle East & North Africa' 'Mexico'
 'Marshall Islands' 'Middle income' 'North Macedonia' 'Mali' 'Malta'
 'Myanmar' 'Middle East & North Africa (excluding high income)'
 'Montenegro' 'Mongolia' 'Northern Mariana Islands' 'Mozambique'
 'Mauritania' 'Mauritius' 'Malawi' 'Malaysia' 'North America' 'Namibia'
 'New Caledonia' 'Niger' 'Nigeria' 'Nicaragua' 'Netherlands' 'Norway'
 'Nepal' 'Nauru' 'New Zealand' 'OECD members' 'Oman' 'Other small states'
 'Pakistan' 'Panama' 'Peru' 'Philippines' 'Palau' 'Papua New Guinea'
 'Poland' 'Pre-demographic dividend' 'Puerto Rico'
 "Korea, Dem. People's Rep." 'Portugal' 'Paraguay' 'West Bank and Gaza'
 'Pacific island small states' 'Post-demographic dividend'
 'French Polynesia' 'Qatar' 'Romania' 'Russian Federation' 'Rwanda'
 'South Asia' 'Saudi Arabia' 'Sudan' 'Senegal' 'Singapore'
 'Solomon Islands' 'Sierra Leone' 'El Salvador' 'San Marino' 'Somalia'
 'Serbia' 'Sub-Saharan Africa (excluding high income)' 'South Sudan'
 'Sub-Saharan Africa' 'Small states' 'Sao Tome and Principe' 'Suriname'
 'Slovak Republic' 'Slovenia' 'Sweden' 'Eswatini'
 'Sint Maarten (Dutch part)' 'Seychelles' 'Syrian Arab Republic'
 'Turks and Caicos Islands' 'Chad'
 'East Asia & Pacific (IDA & IBRD countries)'
 'Europe & Central Asia (IDA & IBRD countries)' 'Togo' 'Thailand'
 'Tajikistan' 'Turkmenistan'
 'Latin America & the Caribbean (IDA & IBRD countries)' 'Timor-Leste'
 'Middle East & North Africa (IDA & IBRD countries)' 'Tonga'
 'South Asia (IDA & IBRD)' 'Sub-Saharan Africa (IDA & IBRD countries)'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Tuvalu' 'Tanzania' 'Uganda'
 'Ukraine' 'Upper middle income' 'Uruguay' 'United States' 'Uzbekistan'
 'St. Vincent and the Grenadines' 'Venezuela, RB' 'British Virgin Islands'
 'Virgin Islands (U.S.)' 'Vietnam' 'Vanuatu' 'World' 'Samoa' 'Kosovo'
 'Yemen, Rep.' 'South Africa' 'Zambia' 'Zimbabwe']

In [ ]:
merged_df_diff_names = pd.merge(plastic_df, filtered_gdp_df, left_on='country', right_on='Country Name')
print(merged_df_diff_names)

     year   country    cheese     yoghurt  total_milk      fruits  \
0    2010   Albania  3.369863   98.959469  783.123288  383.835616
1    2015   Albania  5.589041  106.789487  826.602740  455.945205
2    1995   Albania  4.027397   89.142687  744.794520  110.465753
3    2018   Albania  4.630137  109.799479  868.356164  480.191781
4    1990   Albania  2.767123   89.142687  413.780822   87.561644
..    ...       ...       ...         ...         ...         ...
625  2005  Zimbabwe  0.657534   30.280785   76.958904   28.821918
626  2010  Zimbabwe  0.821918   30.280785   79.890411   40.082192
627  2018  Zimbabwe  0.657534   30.280785   69.561644   48.328767
628  2015  Zimbabwe  0.657534   30.280785   75.287671   60.164384
629  1990  Zimbabwe  0.739726   30.280785   97.972603   34.657534

     refined_grains  whole_grains  nuts_and_seeds  total_processed_meats  ...  \
0        357.865394     32.519126       10.931507              73.300074  ...
1        359.657023     32.603799       12.136986              66.834487  ...
2        491.580412     40.059725        3.589041              43.488098  ...
3        343.175722     30.976196       12.493151              63.896862  ...
4        504.081589     46.880603        3.178082              29.629253  ...
..              ...           ...             ...                    ...  ...
625      408.529330     10.511355       11.342466              26.237413  ...
626      384.476650      9.893487        8.986301              80.272234  ...
627      345.271276      8.886258        9.013699              66.097152  ...
628      343.747293      8.817913        3.452055              71.489579  ...
629      425.112111     10.959396       19.369863              20.083413  ...

     beans_and_legumes  total_ug_per_kg  Country Name          1990  \
0            15.150685      2765.374798       Albania  2.028554e+09
1            16.958904      2982.469231       Albania  2.028554e+09
2            11.753425      2120.486713       Albania  2.028554e+09
3            14.630137      3133.841569       Albania  2.028554e+09
4            11.780822      1559.644384       Albania  2.028554e+09
..                 ...              ...           ...           ...
625          14.602740       766.456343      Zimbabwe  8.783817e+09
626          11.232877       903.524575      Zimbabwe  8.783817e+09
627           7.616438       826.634386      Zimbabwe  8.783817e+09
628           8.547945       856.090453      Zimbabwe  8.783817e+09
629          11.890411       792.915473      Zimbabwe  8.783817e+09

             1995          2000          2005          2010          2015  \
0    2.392765e+09  3.480355e+09  8.052074e+09  1.192692e+10  1.138685e+10
1    2.392765e+09  3.480355e+09  8.052074e+09  1.192692e+10  1.138685e+10
2    2.392765e+09  3.480355e+09  8.052074e+09  1.192692e+10  1.138685e+10
3    2.392765e+09  3.480355e+09  8.052074e+09  1.192692e+10  1.138685e+10
4    2.392765e+09  3.480355e+09  8.052074e+09  1.192692e+10  1.138685e+10
..            ...           ...           ...           ...           ...
625  7.111271e+09  6.689958e+09  5.755215e+09  1.204166e+10  1.996312e+10
626  7.111271e+09  6.689958e+09  5.755215e+09  1.204166e+10  1.996312e+10
627  7.111271e+09  6.689958e+09  5.755215e+09  1.204166e+10  1.996312e+10
628  7.111271e+09  6.689958e+09  5.755215e+09  1.204166e+10  1.996312e+10
629  7.111271e+09  6.689958e+09  5.755215e+09  1.204166e+10  1.996312e+10

             2018
0    1.515643e+10
1    1.515643e+10
2    1.515643e+10
3    1.515643e+10
4    1.515643e+10
..            ...
625  1.811554e+10
626  1.811554e+10
627  1.811554e+10
628  1.811554e+10
629  1.811554e+10

[630 rows x 29 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630 entries, 0 to 629
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   year                      630 non-null    int64
 1   country                   630 non-null    object
 2   cheese                    630 non-null    float64
 3   yoghurt                   630 non-null    float64
 4   total_milk                630 non-null    float64
 5   fruits                    630 non-null    float64
 6   refined_grains            630 non-null    float64
 7   whole_grains              630 non-null    float64
 8   nuts_and_seeds            630 non-null    float64
 9   total_processed_meats     630 non-null    float64
 10  unprocessed_red_meats     630 non-null    float64
 11  fish                      630 non-null    float64
 12  shellfish                 630 non-null    float64
 13  eggs                      630 non-null    float64
 14  total_salt                630 non-null    float64
 15  added_sugars              630 non-null    float64
 16  non-starchy_vegetables    630 non-null    float64
 17  potatoes                  630 non-null    float64
 18  other_starchy_vegetables  630 non-null    float64
 19  beans_and_legumes         630 non-null    float64
 20  total_ug_per_kg           630 non-null    float64
 21  Country Name              630 non-null    object
 22  1990                      597 non-null    float64
 23  1995                      627 non-null    float64
 24  2000                      630 non-null    float64
 25  2005                      630 non-null    float64
 26  2010                      630 non-null    float64
 27  2015                      630 non-null    float64
 28  2018                      630 non-null    float64
dtypes: float64(26), int64(1), object(2)
memory usage: 142.9+ KB

In [110]:
merged_df_diff_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630 entries, 0 to 629
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   year                      630 non-null    int64
 1   country                   630 non-null    object
 2   cheese                    630 non-null    float64
 3   yoghurt                   630 non-null    float64
 4   total_milk                630 non-null    float64
 5   fruits                    630 non-null    float64
 6   refined_grains            630 non-null    float64
 7   whole_grains              630 non-null    float64
 8   nuts_and_seeds            630 non-null    float64
 9   total_processed_meats     630 non-null    float64
 10  unprocessed_red_meats     630 non-null    float64
 11  fish                      630 non-null    float64
 12  shellfish                 630 non-null    float64
 13  eggs                      630 non-null    float64
 14  total_salt                630 non-null    float64
 15  added_sugars              630 non-null    float64
 16  non-starchy_vegetables    630 non-null    float64
 17  potatoes                  630 non-null    float64
 18  other_starchy_vegetables  630 non-null    float64
 19  beans_and_legumes         630 non-null    float64
 20  total_ug_per_kg           630 non-null    float64
 21  Country Name              630 non-null    object
 22  1990                      597 non-null    float64
 23  1995                      627 non-null    float64
 24  2000                      630 non-null    float64
 25  2005                      630 non-null    float64
 26  2010                      630 non-null    float64
 27  2015                      630 non-null    float64
 28  2018                      630 non-null    float64
dtypes: float64(26), int64(1), object(2)
memory usage: 142.9+ KB