Importing needed libraries and preparing CSV data for analysis

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
plastic_df = pd.read_csv ("processed_microplastics.csv")
plastic_df.head()

,year,country,cheese,yoghurt,total_milk,fruits,refined_grains,whole_grains,nuts_and_seeds,total_processed_meats,...,fish,shellfish,eggs,total_salt,added_sugars,non-starchy_vegetables,potatoes,other_starchy_vegetables,beans_and_legumes,total_ug_per_kg
0,1990,Angola,0.191781,54.899739,96.602740,76.520548,481.297149,44.309838,2.849315,22.770109,...,53.013699,0.164384,1.041096,8.005259,32.547945,80.164384,8.109589,39.342466,19.835616,1043.279108
1,1990,Benin,0.054795,9.365946,18.410959,90.876712,534.256965,48.836323,19.561644,17.018264,...,18.794521,3.972603,2.849315,5.854497,8.246575,122.986301,0.000000,304.904110,21.178082,1241.656197
2,1990,Burkina Faso,0.273973,35.390618,56.027397,19.178082,213.170183,129.416119,28.465753,9.541329,...,4.684932,0.000000,6.767123,6.928378,9.534247,64.767123,2.219178,13.780822,32.520548,666.603927
3,1990,Central African Republic,0.000000,19.206478,48.000000,113.397260,285.035375,302.567776,23.506849,26.412094,...,13.917808,0.000000,1.123288,6.585071,19.698630,101.753425,0.575342,209.452055,12.821918,1237.339905
4,1990,Cote D'Ivoire,0.301370,2.220447,38.109589,37.013699,436.907598,25.220347,16.904110,2.459103,...,51.424658,0.493151,2.438356,9.660915,28.438356,151.150685,1.945205,676.575343,2.356164,1540.502458

Exploring Data

In [9]:
plastic_df_shape = plastic_df . shape
print (f"Shape : {plastic_df_shape}")

Shape : (723, 21)

In [12]:
plastic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 723 entries, 0 to 722
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   year                      723 non-null    int64
 1   country                   723 non-null    object
 2   cheese                    723 non-null    float64
 3   yoghurt                   723 non-null    float64
 4   total_milk                723 non-null    float64
 5   fruits                    723 non-null    float64
 6   refined_grains            723 non-null    float64
 7   whole_grains              723 non-null    float64
 8   nuts_and_seeds            723 non-null    float64
 9   total_processed_meats     723 non-null    float64
 10  unprocessed_red_meats     723 non-null    float64
 11  fish                      723 non-null    float64
 12  shellfish                 723 non-null    float64
 13  eggs                      723 non-null    float64
 14  total_salt                723 non-null    float64
 15  added_sugars              723 non-null    float64
 16  non-starchy_vegetables    723 non-null    float64
 17  potatoes                  723 non-null    float64
 18  other_starchy_vegetables  723 non-null    float64
 19  beans_and_legumes         723 non-null    float64
 20  total_ug_per_kg           723 non-null    float64
dtypes: float64(19), int64(1), object(1)
memory usage: 118.7+ KB

In [ ]:
unique_countries = plastic_df['country'].unique()

print(unique_countries)

['Angola' 'Benin' 'Burkina Faso' 'Central African Republic'
 "Cote D'Ivoire" 'Cameroon' 'Congo' 'Djibouti' 'Algeria' 'Egypt'
 'Ethiopia' 'Gabon' 'Ghana' 'Guinea' 'The Gambia' 'Guinea-Bissau' 'Kenya'
 'Lesotho' 'Morocco' 'Madagascar' 'Mali' 'Mozambique' 'Mauritania'
 'Mauritius' 'Malawi' 'Namibia' 'Niger' 'Nigeria' 'Rwanda' 'Senegal'
 'Chad' 'Togo' 'Tunisia' 'Tanzania' 'Uganda' 'South Africa' 'Zambia'
 'Zimbabwe' 'Albania' 'Argentina' 'Antigua And Barbuda' 'Australia'
 'Austria' 'Bangladesh' 'Bulgaria' 'Bolivia' 'Brazil' 'Barbados' 'Canada'
 'Switzerland' 'China' 'Colombia' 'Cuba' 'Germany' 'Dominica' 'Denmark'
 'Dominican Republic' 'Spain' 'France' 'United Kingdom' 'Greece' 'Grenada'
 'Hungary' 'Indonesia' 'India' 'Ireland' 'Iran' 'Iraq' 'Iceland' 'Jordan'
 'Japan' 'Cambodia' 'South Korea' 'Kuwait' 'Laos' 'Saint Lucia'
 'Sri Lanka' 'Mexico' 'Myanmar' 'Mongolia' 'Malaysia' 'Netherlands'
 'Norway' 'Pakistan' 'Peru' 'Philippines' 'Portugal' 'Paraguay' 'Romania'
 'Saudi Arabia' 'Slovakia' 'Sweden' 'Thailand' 'Trinidad And Tobago'
 'Turkey' 'Uruguay' 'United States' 'Venezuela' 'Vietnam' 'Belgium'
 'Bosnia And Herzegovina' 'Croatia' 'Luxembourg' 'Montenegro' 'Russia'
 'Serbia' 'Slovenia' 'Syria' 'Ukraine']

In [11]:
unique_countries_count = plastic_df['country'].nunique()

print(unique_countries_count)

109

In [13]:
unique_years = plastic_df['year'].unique()

print(unique_years)

[1990 1995 2000 2005 2010 2015 2018]